<meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
<style>
    #text {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #sentiment {
        padding-left: 10px;
    }

    #instructions_container {
        background-color: rgba(255, 243, 5, 0.3);
        margin-left: 15%;
        margin-right: 15%;
        align-self: center;
    }

    #instructions_text {
        padding: 10px;
    }

</style>
<script src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js' type='text/javascript'></script>
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>  
<script type="text/javascript">
    $(document).ready(function () { 
        // Check if cookie exists
        var studyName="textanno2019";
        var i,x,y,ARRcookies=document.cookie.split(";");//variables necessary to read the cookies. Last variables separates all available cookie names into an array we will loop through to find our cookie  
        for (i=0;i<ARRcookies.length;i++){  
            x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));//x=cookie name  
            y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);//y=cookie value  
            x=x.replace(/^\s+|\s+$/g,"");//Remove white space  
            if (x==studyName){
                if (y == 1){  
                    document.getElementById("form").style.visibility = 0;
                    alert("You are not eligible for this HIT because you have already completed an identical HIT.");  
                    window.location.href = "https://www.mturk.com/";
                }
            }
        }
    });

    var startTime = Date.now();

    function submitfunc() {
        console.log("submit triggered");
        var currTime = parseInt(Date.now() - startTime) / 1000;
        console.log("submit_press: " + currTime + "\n");
        document.getElementById("timeValues").value += "submit_press: " + currTime + "\n";

        // Set cookie
        var exdate=new Date();  
        exdate.setDate(exdate.getDate() + 365);  
        document.cookie=studyName+"=1; expires="+exdate.toUTCString()+"; domain=mturkcontent.com; path=/";
        console.log("cookie set");
        console.log(document.cookie);
    }

    function radioclick() {
        console.log("radio clicked");
        var currTime = parseInt(Date.now() - startTime) / 1000;
        console.log("radio_press: " + currTime + "\n");
        document.getElementById("timeValues").value += "radio_press: " + currTime + "\n";
    }

</script>
<div id="form">
    <form action="https://workersandbox.mturk.com/mturk/externalSubmit" id="mturk_form" method="post" name="mturk_form" >
        <div id="instructions_container">
            <div id="instructions_text">
                <div>Instructions:</div>
                <ul>
                    <li>Read each block of text</li>
                    <li>For each, decide whether the text has an overall positive or negative tone and select the corresponding button</li>
                    <li>Values for each text will be preselected by the computer based on an algorithm, if they are wrong, select the correct tone</li>
                </ul>
            </div>
        </div>
        <input id="assignmentId" name="assignmentId" type="hidden" value="" />
        {% for id, text in docs.items() %}
        <div id="text">{{text}}</div>
            <div id="sentiment">
                <div>Sentiment:</div>
                {% for category in categories %}
                    {% if suggestions.get(id) == category %}
                        <input type="radio" name="{{id}}" value="{{category}}" id="radio" onclick="radioclick()" checked>{{category}}<br>
                    {% else %}
                        <input type="radio" name="{{id}}" value="{{category}}" id="radio" onclick="radioclick()" >{{category}}<br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <p><input id="submitButton" type="submit" value="Submit" onclick="submitfunc()" /></p>
        <p><input type="hidden" id="timeValues" value = ""/></p>
    </form>
</div>
<script language='Javascript'>turkSetAssignmentID();</script>
