<meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
<style>
    #text {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        
    }

    #sentiment {
        padding-left: 10px;
    }

    #instructions_container {
        background-color: rgba(255, 243, 5, 0.3);
        margin-left: 15%;
        margin-right: 15%;
        align-self: center;
    }

    #instructions_text {
        padding: 10px;
    }

</style>
<script src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js' type='text/javascript'></script>
<form action="https://workersandbox.mturk.com/mturk/externalSubmit" id="mturk_form" method="post" name="mturk_form">
    <div id="instructions_container">
        <div id="instructions_text">
            <div>Instructions:</div>
            <ul>
                <li>Read each block of text</li>
                <li>For each, decide whether the text has an overall positive or negative tone and select the corresponding button</li>
                <li>[FIXME: ADD EXPLANATION OF SUGGESTIONS]</li>
            </ul>
        </div>
    </div>
    <input id="assignmentId" name="assignmentId" type="hidden" value="" />
    {% for id, text in docs.items() %}
    <div id="text">{{text}}</div>
        <div id="sentiment">
            <div>Sentiment:</div>
            {% for category in categories %}
            <input type="radio" name="{{id}}" value="{{category}}">{{category}}<br>
            {% endfor %}
        </div>
    {% endfor %}
    <p><input id="submitButton" type="submit" value="Submit" /></p>
</form><script language='Javascript'>turkSetAssignmentID();</script>
